*{  
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    
       
   }
    html{
        scroll-behavior: smooth;
    }


a:link, a:visited, a:active ::before {
    color: #effeef;
    text-decoration: none;
   }
#logo{
    position: absolute;
    top: 45px;
    width: 150px;
    margin-left: 5px;
    padding: 10px;
    margin-right: 500px;
    z-index: 5; 
    }
 #NAV {
    z-index: 2;
    background-color: #00425a;
    margin-bottom: 25PX;
 }
  
li{
    margin-left: 50px;
}

#fondoedificio{
    position: relative;
    background-image: url(../img/edificiocentral.jpg);
    background-size: cover; }
  
#titulos{
    
    padding-top: 300px;
    top: -200px;
    display: flex;
    flex-direction: column;

}
#titulo{
    font-size: 80px;
    font-family:'Belanosima', sans-serif;
    color: #effeef;
    text-align: center;
    text-decoration: underline;
    z-index: 2;
    }
#fodotitulo{
    position: absolute;
    top: 300px;
    width: 100%; 
    height: 150px; 
    background-color: rgba(0,66,90, 0.5);
    z-index: 0;
}


#subtitulo{
   
    font-size: 225%;
    font-family:'Belanosima', sans-serif;
    color: #effeef;
    text-align: center;
    letter-spacing: 20px;
    padding-bottom: 300px;
    z-index: 2;
}
#quiennav{
    position: absolute;
    top: 800px;
     
}    
#fondoquienes{

 background-image: url(../img/fondoquienes.jpg);

}


#tituloquienes {
    margin-top: 30px;
    padding-top: 90px;
    margin-left: 200px;
    font-size: 3rem;
    margin-right: 185px;
    font-family: 'Belanosima', sans-serif;
     }
#descripcionQuienes{
    
    margin-top:  65px;
    margin-bottom: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}    
#imgquienes{
    width: 35%;
    margin-bottom: 80px;
    border-radius:  138px 10px 126px 10px;
    -webkit-border-radio: 138px 10px 126px 10px;
    -moz-border-radius: 138px 10px 126px 10px;
    box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42); 
    -webkit-box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42);
    -moz-box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42);
    
}
#pquienes{
    width: 55%;
    font-family: 'Indie Flower', cursiva;
    color: #00425a;
    font: size 50%;
    font-weight: 700;
    letter-spacing: 2px; 
    }


#elecciond{
    position: absolute;
    top: 1550px;
}
#tituloelec{
    margin-top: 150px;
    text-align: center;
    font-size: 3rem;
    font-family: 'Belanosima', sans-serif;
    color:#fc7300;
    margin-bottom: 100px;    
}
   
#video{
    width: 45%;
    margin-left: 25%;
    border-radius:  138px 10px 126px 10px;
    -webkit-border-radio: 138px 10px 126px 10px;
    -moz-border-radius: 138px 10px 126px 10px;
    box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42); 
    -webkit-box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42);
    -moz-box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42);
   
}
@media (min-width: 768px) {
    #destacado {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
    font-family: 'Indie Flower';
  
}  }

@media (min-width: 1200px)  
   {#destacado {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr; 
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
    font-family: 'Indie Flower';

}}


.eleccionA{
    font-weight: bold;
    font-size: 40px;
    color: #fc7300;
}
#elecccionB{
        font-size: 25px;
     }
     
#fondoprop{
    background-image: url("../img/fondoeleccion3.jpeg")
}

#propuesta{
       margin-top: 200px;
       margin-bottom: 100px;
        text-align: center;
        font-size: 3rem;
        color: #00425a;
        font-family: 'Belanosima';
        padding-top: 100px;
}
#educativa  {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
    gap: 80px;
    font-family: 'Indie Flower', cursiva;
    font-size: 30px;
    font-weight: 900;
    font-stretch: expanded;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 150px;

}
.eduimg { 
    width: 300px;
    border-radius: 100%;
    border: 7px solid #050505;
    margin-bottom: 20px;
}
    #noticias{
    margin: 70px;
    display: flex;
    justify-content: center;
    gap: 150px;
    font-family: 'Indie Flower', cursiva;
    font-weight: 800;
}
.card{
   
    border-color: #1F8A70;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#tituloNoticias{

    text-align: center;
    font-family:'Belanosima';
    color: #1F8A70;
    font-size: 3rem;
    margin-top: 300;
    padding-top: 100px;    
}
#footer{
    font-family:'Belanosima';
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    background-color: #1F8A70;
    color: #effeef;
    padding: 100px;
}
#redesSociales{
    display: flex;
}

#sociales{
        font-size: 35px;
        letter-spacing: 5px;
        padding-bottom: 5px;
        text-align: center;        
    }
   #escuela{
    font-size: 40px;
    padding-bottom: 20px;
    text-decoration: underline
   }
#contactos{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    letter-spacing: 2px;
    align-items:flex-end;
}

ion-icon{
    color: white;
    font-size: 2rem;
}
#Contacto{
    display: flex;
    align-items: center;
    margin-left: -30px;
    }
 #mail{
     display: flex;
     width: 48px;
     background-color: #00425a;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
     box-shadow: 7px 5px 5px -1px rgba(8,8,8,0.32);
     -webkit-box-shadow: 7px 5px 5px -1px rgba(8,8,8,0.32);
      -moz-box-shadow: 7px 5px 5px -1px rgba(8,8,8,0.32);
     }
 #formularioc{
    padding: 5px;
    background-color: #00425a;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 5px;
    box-shadow: 7px 5px 5px -1px rgba(8,8,8,0.32);
-webkit-box-shadow: 7px 5px 5px -1px rgba(8,8,8,0.32);
-moz-box-shadow: 7px 5px 5px -1px rgba(8,8,8,0.32);
 }

