*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    }
    html{
        scroll-behavior: smooth;
    }

a:link, a:visited, a:active ::before {
    color: #effeef;
    text-decoration: none;
   
}
.menu{
    display: flex;

    
}
.menu a:hover {
  color: #fc7300;
  transition: 1s;
   
}

#encabezado{
    display: flex;
    background-color: #00425a;
    margin-top: 5px;    
}

#logo{
   display: flex;
    width: 100px;
    padding: 3px;
    margin-right: 20px;
    z-index: 3;
 }

#inicio{
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   background-color: #00425a;
   position: fixed;
   top: 10px;
   font-size: 22px;
   font-family:'Belanosima', sans-serif;
    text-decoration: none;
    color: #fc7300;
    z-index: 2;
    padding: 15px;
    

}

li{
    margin-left: 50px;
}


#Contacto{
    display: flex;
   align-items: center;
    
    
}
#mail{
    display: flex;
    width: 25px;
    background-color: #1F8A70  ;
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
   
}
#formularioc{
   
   padding: 8px;
   background-color:  #1F8A70;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   margin-left: 5px;

}
#edificio{
width: 100%;
margin: 0%;
margin-top: 2px;  
}

#titulo{
    position: absolute;
    top: 300px;
    padding-bottom: 50px;
    font-size: 500%;
    font-family:'Belanosima', sans-serif;
    color: #effeef;
    text-align: center;
    width: 100%;
    text-decoration: underline;
    background-color: rgba(0,66,90, 0.5);
}

#subtitulo{
    position: absolute;
    top: 370px;
    margin-left: 0px;
    font-size: 225%;
    font-family:'Belanosima', sans-serif;
    color: #effeef;
    text-align: center;
    width: 100%;
    letter-spacing: 20px;
    
}
ion-icon{
    
    color: #fc7300;
    font-size: 60px;
    position:fixed;
    top: 500px;
    right: 15px;
    z-index: 7;  
     
}

#quien{
    position: relative;
}
#backquien {
    width: 115%;
}
#descripcionQuienes{
    position: absolute;
    top: 80px;
    
}
    #tituloquienes {
       position:absolute;
        top: 15px;
        padding-top: 30px;
        margin-left: 200px;
        font-size: 3rem;
        margin-right: 185px;
        font-family: 'Belanosima', sans-serif;
    }
    #quienes{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 100px;
        margin-right: 100px;
        margin: 50px;
        margin-top: 190px;
        
     }
   #imgquienes{
    
    width: 300%;
    top:50px;
    margin-left:60px ;
    border-radius:  138px 10px 126px 10px;
    -webkit-border-radio: 138px 10px 126px 10px;
    -moz-border-radius: 138px 10px 126px 10px;
    box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42); 
    -webkit-box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42);
    -moz-box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42);
   }
  
 #pquienes{
    margin-left: 200px;
    font-family: 'Indie Flower', cursiva;
    color: #00425a;
    font-size:23px;
    font-weight: 700;
    letter-spacing: 2px;
    
  }

#subir{
    position: relative;
    top: 80px;
}

#eleccion{
    position: relative;

}
#eleccionBg {
    width: 100%
    
}
#tituloelec{
     
     font-size: 3rem;
     font-family: 'Belanosima', sans-serif;
     color:#fc7300;
     margin-top: 80px;
     
     padding: 20px;
     margin-left: 35%;
     
    }
#video{
    width: 45%;
    
    margin-left: 25%;
    top: 200px;
    border-radius:  138px 10px 126px 10px;
    -webkit-border-radio: 138px 10px 126px 10px;
    -moz-border-radius: 138px 10px 126px 10px;
    box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42); 
    -webkit-box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42);
    -moz-box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42);
   
}
#destacado {
    position: relative;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-gap: 10px;
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 100px;
    font-family: 'Indie Flower';
    margin-bottom: 20px;
}  

    h3{
        font-size: 40px;
        color: #fc7300;
    }
     h4{
        font-size: 25px;
     }
    .div1 { grid-area: 1 / 1 / 2 / 2; 
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
    .div2 { grid-area: 1 / 2 / 2 / 3;
        display: flex;
        flex-direction: column;
        align-items: center; }
    .div3 { grid-area: 1 / 3 / 2 / 4;
        display: flex;
        flex-direction: column;
        align-items: center; }
    .div4 { grid-area: 2 / 1 / 3 / 2;
        display: flex;
        flex-direction: column;
        align-items: center; }
    .div5 { grid-area: 2 / 2 / 3 / 3;
        display: flex;
        flex-direction: column;
        align-items: center; }
    .div6 { grid-area: 2 / 3 / 3 / 4;
        display: flex;
        flex-direction: column;
        align-items: center; }

#seccion3{
    position: relative;
}
#bg3{
    width: 100%;
    top: -100px;
    height: 400px;
}
#propuesta{
    position:absolute;
        top: 80px;
        padding-top: 30px;
        text-align: center;
        font-size: 3rem;
        margin-left: 50px;
       color: #00425a;
        font-family: 'Belanosima';
}
#educativa  {
    position:absolute ;
    top: 250px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    text-align: center;
    padding: 50px;
    gap: 80px;
    margin-left: 220px;
    font-family: 'Indie Flower', cursiva;
    font-size: 30px;
    font-weight: 900;
    font-stretch: expanded;

}
.eduimg {
    width: 300px;
    border-radius: 100%;
    border: 3px solid #050505;
    margin-bottom: 50px;
}