*{  
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0;
    list-style: none;
       
   }
    html{
        scroll-behavior: smooth;
    }


a:link, a:visited, a:active ::before {
    color: #effeef;
    text-decoration: none;
   
}

.menu{
    display: flex;

    
}
.menu a:hover {
  color: #fc7300;
  transition: 1s;
   
}

#encabezado{
    position: relative;
    display: flex;
    background-color: #00425a;
    margin-top: 5px;
    padding-top: 70px;    
}

#logo{
    position: absolute;
    top: -5px;
    width: 80px;
    margin-left: 20px;
    padding: 10px;
    margin-right: 500px;
    z-index: 3;

 }

#inicio{
  overflow-x: hidden;
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   background-color: #00425a;
   position: fixed;
   top: 20px;
   font-size: 22px;
   font-family:'Belanosima', sans-serif;
    text-decoration: none;
    color: #fc7300;
    padding: 4px;
    z-index: 2;
}

li{
    margin-left: 50px;
}


#Contacto{
    
    display: flex;
   align-items: center;
   }
#mail{
    display: flex;
    
    width: 48px;
    background-color: #1F8A70;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    }
#formularioc{
   padding: 8px;
   background-color:  #1F8A70;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   margin-left: 5px;
}
#edificio{
   
  width: 100%;
  margin: 0%;
  margin-top: 2px;  
}
#titulos{
    top: -200px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,66,90, 0.5);
}
#titulo{
    font-size: 80px;
    font-family:'Belanosima', sans-serif;
    color: #effeef;
    text-align: center;
    text-decoration: underline;
    
}

#subtitulo{
   
    font-size: 225%;
    font-family:'Belanosima', sans-serif;
    color: #effeef;
    text-align: center;
    letter-spacing: 20px;
    
}/*
ion-icon{
    
    color: #fc7300;
    font-size: 60px;
    position:fixed;
    top: 500px;
    right: 15px;
    z-index: 7;  
     
}*/
#quien{
    
    
}
#quiennav{
    position: absolute;
    top: 1100px;
     
    
}
#backquien {
    position: absolute;
    width: 100%;
    overflow-x: hidden;}

#tituloquienes {
    margin-top: 130px;
    padding-top: 30px;
    margin-left: 200px;
    font-size: 3rem;
    margin-right: 185px;
    font-family: 'Belanosima', sans-serif;
     }
#descripcionQuienes{
    
    margin-top:  65px;
    margin-bottom: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}    
#imgquienes{
    width: 35%;
    border-radius:  138px 10px 126px 10px;
    -webkit-border-radio: 138px 10px 126px 10px;
    -moz-border-radius: 138px 10px 126px 10px;
    box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42); 
    -webkit-box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42);
    -moz-box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42);
}
#pquienes{
    width: 55%;
    font-family: 'Indie Flower', cursiva;
    color: #00425a;
    font: size 50%;
    font-weight: 700;
    letter-spacing: 2px;} 
/*
   #imgquienes{
    position: absolute;
    display: flex;
    width: 40%;
    top:150px;
    margin-left:60px ;
    border-radius:  138px 10px 126px 10px;
    -webkit-border-radio: 138px 10px 126px 10px;
    -moz-border-radius: 138px 10px 126px 10px;
    box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42); 
    -webkit-box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42);
    -moz-box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42);
   }
  
 #pquienes{
    position: absolute;
    top: 150px;
    margin-left: 50%;
    font-family: 'Indie Flower', cursiva;
    color: #00425a;
    font: size 50%;
    font-weight: 700;
    letter-spacing: 2px;
    
  }*/

/*#subir{
    position: relative;
    top: 80px;
}*/
#elecciond{
    position: absolute;
    top: 1950px;
}
#tituloelec{
    margin-top: 150px;
    text-align: center;
    font-size: 3rem;
    font-family: 'Belanosima', sans-serif;
    color:#fc7300;
    margin-bottom: 100px;    
}
   
#video{
    width: 45%;
    margin-left: 25%;
    border-radius:  138px 10px 126px 10px;
    -webkit-border-radio: 138px 10px 126px 10px;
    -moz-border-radius: 138px 10px 126px 10px;
    box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42); 
    -webkit-box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42);
    -moz-box-shadow: 4px 6px 5px -1px rgba(3,54,54,0.42);
   
}
#destacado {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
    font-family: 'Indie Flower';
  
}  

.eleccionA{
    font-weight: bold;
    font-size: 40px;
    color: #fc7300;
}
#elecccionB{
        font-size: 25px;
     }

     #proEdu{
        margin-top: 
     }
 
    


#propuesta{
       margin-top: 200px;
       margin-bottom: 100px;
        text-align: center;
        font-size: 3rem;
        color: #00425a;
        font-family: 'Belanosima';
        padding-top: 100px;
}
#educativa  {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
    gap: 80px;
    font-family: 'Indie Flower', cursiva;
    font-size: 30px;
    font-weight: 900;
    font-stretch: expanded;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 150px;

}
.eduimg { 
    width: 300px;
    border-radius: 100%;
    border: 7px solid #050505;
    margin-bottom: 20px;
}


#noti{
   
   }

#noticias{
    margin: 70px;
    display: flex;
    justify-content: center;
    gap: 150px;
    font-family: 'Indie Flower', cursiva;
    font-weight: 800;
}
.card{
   
    border-color: #1F8A70;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#notic{
   
}


#tituloNoticias{

    text-align: center;
    font-family:'Belanosima';
    color: #1F8A70;
    font-size: 3rem;
    margin-top: 300;
    padding-top: 100px;
    
    
}
#footer{
    font-family:'Belanosima';
    display: flex;
    justify-content: center;
    align-items:flex-start;
    background-color: #1F8A70;
    color: #effeef;
    gap: 200px;
    padding: 100px;
}
#redesSociales{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 30px;
    gap: 20px;
    color: #effeef;
    align-items: start;
   
    }
    #sociales{
        font-size: 35px;
        letter-spacing: 5px;
        padding-bottom: 5px;
        
    }
   #escuela{
    font-size: 40px;
    padding-bottom: 20px;
    text-decoration: underline
   }
#contactos{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    letter-spacing: 2px;
    align-items:flex-end;
}

ion-icon{
    color: white;
    font-size: 2rem;
}